/target
Cargo.lock
*.swp
*.swo
.env
.DS_Store
packet-ios/*.xcodeproj
packet-ios/*.xcodeproj/xcuserdata
packet-ios/*.xcodeproj/project.xcworkspace/xcuserdata
packet-ios/.build
packet-android/.gradle
packet-android/build
packet-android/app/build
